<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Exam
        </h1>
        <% include ./partials/messages %>
        <form action="/users/dashboard method="POST">
          <div class="form-group">
            <label for="title">The question</label>
            <input
              type="question"
              id="question"
              name="question"
              class="form-control"
              placeholder="Enter question"
              value="<%= typeof question != 'undefined' ? question : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="a1">answer1</label>
            <input
              type="answer1"
              id="answer1"
              name="answer1"
              class="form-control"
              placeholder="Enter answer1"
              value="<%= typeof answer1 != 'undefined' ? answer1 : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="a2">answer2</label>
            <input
              type="answer2"
              id="answer2"
              name="answer1"
              class="form-contro2"
              placeholder="Enter answer2"
              value="<%= typeof answer2 != 'undefined' ? answer2 : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="a3">answer3</label>
            <input
              type="answer3"
              id="answer3"
              name="answer3"
              class="form-contro3"
              placeholder="Enter answer3"
              value="<%= typeof answer3 != 'undefined' ? answer3 : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="a4">answer4</label>
            <input
              type="answer4"
              id="answer4"
              name="answer4"
              class="form-contro4"
              placeholder="Enter answer4"
              value="<%= typeof answer4 != 'undefined' ? answer4 : '' %>"
            />
          </div>
          <a href="/users/quiz" class="btn btn-secondary">next question</a>
          <a href="/dashboard" class="btn btn-secondary">Finish Quiz</a>
        </form>
        
      </div>
    </div>
  </div>
  